@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  user-select: none;
}

.containerb {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.heroSlide {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 600px;
  display: flex;
}
.heroSlide .swiper-wrapper {
  display: flex;
}

.heroSlide .swiper-button-prev {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  border-radius: 50%;
  background-image: url(./assets/arrowBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 80px;
  background-color: white;
  border-radius: 50%;
  transform: rotate(180deg);
}

.heroSlide .swiper-button-next {
  width: 70px;
  height: 70px;
  left: 180px;
  border-radius: 50%;
  background-image: url(./assets/arrowBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 30px;
  background-color: white;
}

.heroSlide .swiper-button-disabled {
  background-color: rgb(225, 225, 225);
}

.heroSlide .swiper-pagination {
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.heroSlide .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  background-color: rgb(225, 223, 223);
}
.heroSlide .swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  transform: scale(1.5);
  background-color: white;
}

.catalogSlide {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 500px;
  display: flex;
}
.catalogSlide .swiper-wrapper {
  display: flex;
}

.catalogSlide .swiper-button-prev {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 30px;
  border-radius: 50%;
  background-image: url(./assets/arrowBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 30%;
  bottom: 0;
  z-index: 30;
  border-radius: 50%;
  transform: rotate(180deg);
}

.catalogSlide .swiper-button-next {
  right: 30%;
  bottom: 0;
  z-index: 30;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url(./assets/arrowBlack.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.catalogSlide .swiper-button-disabled {
  opacity: 30%;
}

.catalogSlide .swiper-pagination {
  width: 300px;
  overflow: scroll;
  height: 70px;
  bottom: 0;
  right: 40%;
  align-items: center;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.catalogSlide .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background-color: rgb(225, 223, 223);
}
.catalogSlide .swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  transform: scale(1.5);
  background-color: #121214;
}

@font-face {
  font-family: roboto;
  src: url(./fontFamily/RFDewiExpanded-Bold.ttf);
}

.roboto {
  font-family: roboto;
}

.hero {
  background-image: url(./assets/HeroSlideImg.jpeg);
}

.detailSwiper {
  width: 100%;
  padding: 40px 10px;
  position: relative;
  overflow: hidden;
  height: 550px;
  display: flex;
}

.detailSwiper .swiper-wrapper {
  display: flex;
}

.heroSlide {
  border-radius: 20px;
  background-image: url(./assets/HeroSlideImg.jpeg);
}
